<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>
      <!--                без байндинга [routerLink] потому что ведет на главную всегда-->
      <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
      <strong>{{post.author}}</strong>
      <small>{{post.date | date:'medium':null:'ru'}}</small>
    </div>
    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>
<ng-template #loading>
  <h2 class="text-center">ЗАГРУЗКА</h2>
</ng-template>
