<div class="container">
  <h1>RxJs</h1>

  <button class="btn" (click)="stopInterval()">
    Stop Interval
  </button>
  <button class="btn btn-danger" (click)="next()">
    Next Value
  </button>
</div>
