<form class="card" [formGroup]="form" (submit)="submit()">
    <h2>Войти как Администратор</h2>

    <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
        {{error}}
    </div>
    <div class="alert alert-info" *ngIf="message">
        {{message}}
    </div>

    <div class="form-control"
         [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
        <label for="email">Email </label>
        <input id="email" type="email" formControlName="email">
        <div
                *ngIf="form.get('email').touched && form.get('email').invalid"
                class="validation">
            <small *ngIf="form.get('email').errors.required">Email не может быть пустым</small>
            <small *ngIf="form.get('email').errors.email">Не соответствует почтовому адресу</small>
        </div>
    </div>
    <div class="form-control"
         [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    >
        <label for="password">Пароль </label>
        <input id="password" type="password" formControlName="password">
        <div
                class="validation"
                *ngIf="form.get('password').touched && form.get('password').invalid"
        >
            <small *ngIf="form.get('password').errors.required">Пароль не может быть пустым.</small>
            <small *ngIf="form.get('password').errors.minlength">Пароль должен быть не менее
                {{form.get('password').errors.minlength.requiredLength}}
                символов.</small>
        </div>
    </div>

    <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid && submitted"
    >Войти
    </button>
</form>
