<div
  *ngIf="posts$ | async as posts; else loading"
  class="posts"
>
    <app-post
    *ngFor="let post of posts"
    [post]="post"
    />
</div>
<ng-template #loading>
    <h2 class="text-center">ЗАГРУЗКА</h2>
</ng-template>
